<div class="container p-5">
  <div class="row">
    <div class="col">
      <div ngbDropdown class="d-inline-block">
        <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Archivo</button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button ngbDropdownItem>Abrir</button>
          <button ngbDropdownItem>Guardar</button>
          <button ngbDropdownItem>Cerrar</button>
        </div>
      </div>

      <button class="btn btn-outline-success mr-2 pl-2" (click)="obtenerData()">Compilar</button>

    </div>
  
    
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <textarea [(ngModel)]="data" class="form-control" id="codeInput" rows="23"></textarea>
      <textarea [(ngModel)]="errorsString" class="form-control" id="errors" rows="8"></textarea>
    </div>
    <div class="col-md-6">
      <div id="drawingArea">

      </div>
      <!--
      <canvas width="500" height="500" id="canvas">
        <svg id="Capa_1" data-name="Capa 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500 500">
          <defs>
              <style>.cls-1{fill:#9cb7ff;}.cls-2{fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:10px;}.cls-3,.cls-4{fill:#fff;}.cls-4{font-size:60px;font-family:MyriadPro-Regular, Myriad Pro;}
              </style>
          </defs><title>caritas</title><circle class="cls-1" cx="250" cy="250" r="239"/><path class="cls-2" d="M399,180.81a50.38,50.38,0,1,1-100.76,0"/><path class="cls-2" d="M201.4,180.81a50.38,50.38,0,1,1-100.75,0"/>
          <circle class="cls-3" cx="250" cy="350" r="33"/>
          <text class="cls-4" transform="translate(250 90.18)">
              <tspan xml:space="preserve">
              nouhuihsh
              </tspan>
          </text>
        </svg>
      </canvas>-->
    </div>
  </div>
</div>